body {
    font-family: 'Arial', sans-serif;
    background-color: #8d6e63; 
    margin: 0;
    padding: 20px;
    color: #2a2a2a;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: #ffffff; 
    padding: 40px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #6d4c41; 
    font-size: 2.5rem; 
    text-decoration-line: underline;
}

form {
    margin-bottom: 45px;
}

fieldset {
    border: none; 
    margin-bottom: 20px;
    padding: 20px; 
    background-color: #dbd2d2;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

legend {
    font-weight: bold;
    font-size: 1.5rem; 
    color: #6d4c41; 
}

label {
    display: block;
    margin-bottom: 8px;
    color: #8d6e63; 
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #909597;
    border-radius: 6px; 
    font-size: 1rem;
    background-color: #ffffff; 
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical; 
}

button {
    width: 100%;
    padding: 14px;
    background: linear-gradient(120deg, #a18479, #a97746); /* Adds a gradient background */
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    font-weight: 600;
}

button:hover {
    background: linear-gradient(45deg, #573123, #835c35); /* Darker gradient on hover */
    transform: translateY(-3px); /* Subtle hover effect */
}

.resume-output {
    margin-top: 40px;
    padding: 20px;
    background-color: #8d6e63;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
}

.resume-output h2 {
    margin-bottom: 20px;
    color: #837059;
    font-size: 2rem;
}

.resume-output p {
    margin-bottom: 12px;
    color: #80584c;
    font-size: 1.1rem;
    line-height: 1.6;
}

/* For the button container */
#button {
    display: flex;
    flex-direction: column; /* Vertically aligns the buttons */
    gap: 15px; /* Adds space between the buttons */
    margin-top: 20px; /* Adds some space from the resume content */
}

/* Styles for the buttons */
#button button {
    display: block;
    padding: 12px;
    background: linear-gradient(120deg, #a18479, #a97746); /* Adds a gradient background */
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect for the gradient buttons */
#button button:hover {
    background: linear-gradient(45deg, #573123, #835c35); /* Darker gradient on hover */
    transform: translateY(-2px); /* Subtle hover animation */
}
